<div>

    <form [formGroup]="rideHistory">
        <div class="input-group my-3">
            <label for="vechicleType" class="mt-1">Vehicle Type :</label>
            <select name="vechicleType" id="" class="ms-1 form-select me-3 rounded" formControlName="vechicleType">
                @if(fetchedVehicleTypes){
                @for(type of fetchedVehicleTypes ; track $index){
                <option value="{{type._id}}"> {{type.vehicleType}} </option>
                }
                }
            </select>
            <input type="date" class="form-control rounded" placeholder="please select the date" formControlName="date">
            <div class="input-group-append">
                <div class="input-group-text bg-dark text-white">Select Date</div>
            </div>
        </div>

        <div class="input-group mb-2">
            <label for="rideStatus" class="mt-1 me-1">Ride Status :</label>
            <select class="form-select me-3 ms-2 rounded" name="rideStatus" formControlName="rideStatus">
                <option value="7">Completed</option>
                <option value="8">Canclled</option>
                <!-- <option value="2">Confirmed</option> -->
            </select>

            <input type="text" class="form-control rounded" name="searchTerm" #inputValue
                placeholder=" search by username, phone number, RideId,etc...." formControlName="searchTerm">
            <div class="input-group-append ">
                <div class="input-group-text bg-dark text-white ps-3 ">Apply filter</div>
            </div>
        </div>

        <button (click)="searchRides(inputValue.value)" class="btn btn-success text-white btn-sm my-2">Apply
            Filter</button>
        <button (click)="ClearFilter()" class=" ms-2 btn btn-warning text-white btn-sm my-2">clear Filter</button>
    </form>
</div>

<div>

    <div class="table-responsive rounded ">
        <div class="container text-center h2">
            <div>
                Ride History
            </div>
            <!-- </td> -->
        </div>
        <div class="container text-center my-3 text-danger">
            <!-- <td class="border text-center p-1 py-2 width"> -->
                Donload Rides: 
            <button class="btn btn-sm ms-2 border download" (click)="downloadRidesInfo(RidesFetched)">
                <img src="../../../assets/icons8-download.gif" alt="Download" height="20rem" width="60rem">
            </button>
        </div>
        <table class="table table-responsive  overflow-auto">
            <tr>
                <!-- <th class="border text-center p-1 py-2 bg-dark text-white id">Request Id</th> -->
                <th class="border text-center p-1 py-2 bg-dark text-white id">Ride Id</th>
                <th class="border text-center p-1 py-2 bg-dark text-white  width">User Name</th>
                <th class="border text-center p-1 py-2 bg-dark text-white  width">Driver Name</th>
                <th class="border text-center p-1 py-2 bg-dark text-white time">Pick Up Time</th>
                <th class="border text-center p-1 py-2 bg-dark text-white width">Pick up address</th>
                <th class="border text-center p-1 py-2 bg-dark text-white width ">Stop Locations</th>
                <th class="border text-center p-1 py-2 bg-dark text-white width">Drop off address</th>
                <th class="border text-center p-1 py-2 bg-dark text-white width">Service Type</th>
                <th class="border text-center p-1 py-2 bg-dark text-white width">Status</th>
                <!-- <th class="border text-center p-1 py-2 bg-dark text-white width">Download</th> -->
                <!-- <th class="border text-center p-1 py-2 bg-dark text-white">Status</th>
                <th class="border text-center p-1 py-2 bg-dark text-white">Assign</th>
                <th class="border text-center p-1 py-2 bg-dark text-white">Action</th> -->
            </tr>
            @if(RidesFetched){
            @for(ride of RidesFetched;track $index){
            <tr class="hover rounded shadow" (click)="rideInfo(ride)" data-bs-toggle="modal"
                data-bs-target="#infoModal">
                <!-- <td class="border text-center p-1 py-2 id">{{ride._id}}</td>
                <td class="border text-center p-1 py-2 id">{{ride.userId._id}}</td> -->
                <td class="border text-center p-1 py-2 width">{{ride.Ride_index}}</td>
                <td class="border text-center p-1 py-2 width">{{ride.userId.userName}}</td>
                @if(ride.driverId?.driverName){
                <td class="border text-center p-1 py-2 time">{{ride.driverId?.driverName}}</td>
                }@else{
                <td class="border text-center p-1 py-2 time">No Driver Assigned</td>
                }
                <td class="border text-center p-1 py-2 time">{{ride.date}} {{ride.timeInString}}</td>
                <td class="border text-center p-1 py-2 width">{{ride.startLocation}}</td>

                @for(point of ride.route ;track $index){
                <td class=" border text-center p-1 py-2 width">{{$index +1}}. &nbsp;{{point}}</td>
                }
                @if(ride.route && ride.route.length == 0){
                <td class=" border text-center p-1 py-2 width">No Way Points for this Ride</td>
                }
                <td class="border text-center p-1 py-2 width">{{ride.endLocation}}</td>
                <td class="border text-center p-1 py-2 width">{{ride.typeId.vehicleType}}</td>
                <td class="border text-center p-1 py-2 width">
                    <div class="btn"
                        [ngStyle]="{'background-color':ride.rideStatus === 7 ? 'green' : 'orange' , 'color':'white'}">
                        {{ ride.rideStatus === 7 ? 'Completed' : ride.rideStatus === 8 ? 'Cancelled' : '' }}
                    </div>
                </td>
                <!-- <td class="border text-center p-1 py-2 width">
                    <button class="btn btn-sm border download" (click)="downloadRidesInfo(RidesFetched)" >
                        <img src="../../../assets/icons8-download.gif" alt="Download" height="15px" width="15px">
                    </button>
                </td> -->
            </tr>
            <br>
            }
            }
        </table>
        @if(RidesFetched.length === 0){
        <div class="container text-danger  d-flex justify-content-center">
            <h3>No Rides Found</h3>
        </div>
        }
    </div>
    <!-- <div class="d-flex justify-content-center align-items-end mt-2">

        <button [disabled]="disablePrevBnt()" class="btn btn-dark text-white me-3 shadow"
            (click)="previousBtn()">Prev</button>
        <span class="text-center span me-3 pb-3 h-2 ">{{pageNumber}}</span>
        <button [disabled]="disableNextBnt()" class="btn" class="btn btn-dark text-white shadow"
            (click)="nextBtn()">Next</button>
    </div> -->
</div>

<!-- <div id="map" class=" mapBox shadow col  col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12"> -->
<!-- <div id="map" class=" mapBox">

</div> -->


<div class=" modaldiv modal fade  " id="infoModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header text-center">
                <h4 class="modal-title">Ride Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="d-flex  mb-2">
                <div class="first mt-2 me-1">
                    @if(selectedRide){
                    <h5 class=" ms-3">User Info :</h5>
                    <div class="ms-4 my-1">

                        <img [src]="'http://localhost:5000/public/userProfile/' + selectedRide.userId.userProfile"
                            onerror="this.src='assets/noImageFound.jpg'" class="my-1 border profile2 rounded img-fluid "
                            alt="{{selectedRide.userId.userName }} Icon">
                    </div>
                    <table id="InfoTable" class="ms-3 me-1">
                        <tr>
                            <th>User Name </th>
                            <td>: {{selectedRide.userId.userName}}</td>
                        </tr>
                        <tr>
                            <th>User Phone</th>
                            <td> : {{selectedRide.countryInfo.countryCallingCode}}
                                {{selectedRide.userId.userPhone}}</td>
                        </tr>
                        <tr>
                            <th>User Email </th>
                            <td>: {{selectedRide.userId.userEmail}}</td>
                        </tr>
                        <tr>
                            <th>Book Date</th>
                            <td>: {{selectedRide.date}}</td>
                        </tr>
                        <tr>
                            <th>Book Time</th>
                            <td>: {{selectedRide.timeInString}}</td>
                        </tr>
                        <tr>
                            <th>PickUp Location </th>
                            <td>: {{selectedRide.startLocation}}</td>
                        </tr>
                        <tr>
                            <th>Drop-Off Location </th>
                            <td>: {{selectedRide.endLocation}}</td>
                        </tr>
                        <tr>
                            <th>Way Points: </th>
                            @for(point of selectedRide.route ;track $index){
                            <td>:{{$index +1}}-{{point}}</td><br>
                            }
                            @if(selectedRide.route && selectedRide.route.length == 0){
                            <td class="text-danger">: No Way Points for this Ride</td>
                            }
                        </tr>
                        <tr>
                            <th>Service Type </th>
                            <td>: {{selectedRide.typeId.vehicleType}}</td>
                        </tr>
                        <tr>
                            <th>Total Distance </th>
                            <td>: {{selectedRide.totalDistance | number:'1.2-2'}} Km</td>
                        </tr>
                        <tr>
                            <th>Estimated Time </th>
                            <td> : {{selectedRide.totalTime}} m </td>
                        </tr>
                        <tr>
                            <th>Estimated Fare </th>
                            <td> : {{selectedRide.totalFare |number:'1.2-2'}}
                                {{selectedRide.countryInfo.currency}}</td>
                        </tr>

                        <hr>

                        @if(selectedRide.driverId){

                        <h5 class=" ms-2">Driver Info :</h5>

                        <div class="ms-4 my-1">

                            <img [src]="'http://localhost:5000/public/driverProfile/' + selectedRide.driverId.driverProfile"
                                onerror="this.src='assets/noImageFound.jpg'"
                                class="my-1 border profile2 rounded img-fluid "
                                alt="{{selectedRide.driverId.driverProfile }} Icon">
                        </div>
                        <tr>
                            <th>Driver Name</th>
                            <td>: {{selectedRide.driverId.driverName}}</td>
                        </tr>
                        <tr>
                            <th>Driver Phone</th>
                            <td>:{{selectedRide.countryInfo.countryCallingCode}} {{selectedRide.driverId.driverPhone}}
                            </td>
                        </tr>
                        <tr>
                            <th>Driver Email</th>
                            <td>: {{selectedRide.driverId.driverEmail}}</td>
                        </tr>
                        }@else{
                        <tr>
                            <th>No Driver Assigned</th>
                        </tr>
                        }
                    </table>
                    }
                </div>
                <div id="map" class=" mapBox me-3 mt-2 float-right">

                </div>
            </div>
            <!-- @if(selectedRide){
            <div class="text-center my-1">

                <img [src]="'http://localhost:5000/public/userProfile/' + selectedRide.userId.userProfile"
                    onerror="this.src='assets/noImageFound.jpg'" class="my-1 border profile2 rounded img-fluid "
                    alt="{{selectedRide.userId.userName }} Icon">
            </div> -->
            <!-- <div class="container table-responsive d-flex justify-content-start"> -->
            <!-- @if(selectedRide){ -->
            <!-- 
            </div>
            } -->

            <div class="modal-footer">
                <button class="btn btn-secondary shadow" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>