.width{
    max-width: 8rem;
}

.time{
    max-width: 5rem;
}

.mapBox{
    height: 80vh;
    width: 100vh;
    border-radius: 15px ;
}
.first{
    height: 80vh;
    width: 80vh;
    border-radius: 15px ;
    overflow: auto;
    scrollbar-width: none;
}

.hover:hover{
    cursor: pointer;
}

.profile2{
    height: 80px;
    width: 80px;
    border-radius: 5px
}

/* .download{
    width: 2rem;
} */
